{% extends 'base.html' %}

{% block contenido %}
<h2>Dashboard de Entidades</h2>
<canvas id="grafico" width="400" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('grafico').getContext('2d');
    const grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                labels: 'Precio por entidad',
                data: {{ data|safe }},
                backgroundColor: 'rgba(54, 162, 235,0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]  
        },
        options: {
            scales: { y: { beginAtZero: true } }
        }
    });
</script>
{% endblock %}